---
import ArticleBody from "../article/ArticleBody.astro";
import ArticleRelated from "../article/ArticleRelated.astro";
import Layout from "@layouts/Layout.astro";
import Author from "@components/Author.astro";
import PrimaryTag from "@components/PrimaryTag.astro";
import MediaCover from "@components/MediaCover.astro";

const { post, nextPost, prevPost, relatedPosts } = Astro.props;

const tags = post.tags?.map((item) => item.name);
---
<Layout footer={true} bodyClass="is-article has-cover is-head-transparent" isPost={true}>

    <article class="post mb-10 relative">
        <div class="postImage relative simply-hero-cover bg-dark min-h-lg lg:min-h-screen py-24">
            {/* {!-- Featured Media - partials/components/media-cover.hbs --} */}
            <MediaCover background={post.feature_image} hasGradient={true} altTitle={post.title} />

            <header class="post-header mx-auto max-w-740 px-4 p-24 relative z-3">
                {post.primary_tag && <div class="mb-3 text-white tracking-wider text-sm"><PrimaryTag tag={post.primary_tag} tagClass="uppercase hover:underline"/></div>}

                <h1 class="post-title mb-5 text-white text-4xl lg:text-5xl leading-tight">{post.title}</h1>
                {post.custom_excerpt &&
                            <p class="post-excerpt mb-8 text-2xl text-white leading-snug">{post.custom_excerpt}</p>
                }

                {/* {!-- [Author, DateTime, Reading Time] - ./partials/components/author-meta.hbs --} */}
                <Author post={post} />
            </header>
        </div>

        {/* {!-- Article Body - partials/article/article-body.hbs --} */}
        <ArticleBody post={post} nextPost={nextPost} prevPost={prevPost} />
    </article>
    {(!tags.includes(`#podcast`) && !tags.includes(`#portfolio`)) && <ArticleRelated relatedPosts={relatedPosts} />}
    </Layout>
