---
import { Image } from 'astro:assets';
export interface Props {
	article?: any;
    figureClass?: string,
    divClass?: string,
    imgClass?: string,
    zoomable?: boolean,
}

const { article, figureClass, divClass, imgClass, zoomable } = Astro.props;
const image = article.feature_image
---
<figure class={`post-image ` + figureClass}>
    {zoomable ?
        <div>
            <Image src={image} alt={article.title} class={divClass} img-class={imgClass} fit="cover" width={2000}/>
        </div>
        :
        <Image src={image} alt={article.title} class={divClass} img-class={imgClass} fit="cover" width={2000}/>
    }
</figure>