---
import Layout from '../../../layouts/Layout.astro';
import StoryGrid from '../../../components/story/StoryGrid.astro';
import Pagination from '../../../components/Pagination.astro';
import siteConfig from '../../../utils/siteConfig';
import MetaData from '../../../components/meta/MetaData.astro';
import { getPosts, getTags } from '../../../lib/api';

//const posts = await getPosts();

export async function getStaticPaths({paginate}) {
	const tags = await getTags({});
	console.log("🚀 ~ file: [tags].astro:13 ~ getStaticPaths ~ tags:", tags)

    return tags.map((tag) => ({
		params: { slug: tag.slug },
		props: { tag },
	}));
}

export interface Props {
	page?: any,
    tag?: any,
}

const { tag } = Astro.props;
const params = Astro.params;

console.log(Astro.url)
console.log(Astro.url.pathname)
console.log(Astro.url.origin)



---
<!-- <MetaData location={Astro.url.pathname} /> -->
<Layout footer={true} isPost={false} bodyClass="topic">
    <header className={containerStyles.topicHeader} style={{ background: `url("../images/bg-setup.svg") bottom no-repeat, linearGradient(60deg,#2e2ea2,#138395)` }}>
        <div className="px-4 py-12 mx-auto max-w-3xl text-center text-white md:py-vw6">
            <h1 className="capitalize text-4xl lg:text-5xl font-semibold">{page.title}</h1>
            <div className="mt-8 text-xl" dangerouslySetInnerHTML={{ __html: page.html }}></div>
        </div>
    </header>
    <section className="container mx-auto py-8 lg:py-16">
        <div className="max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-6">

            {tags.map(tag => (
                <article key={tag.node.slug} className="topic-story relative bg-dark overflow-hidden rounded-md" style={ tag.node.accent_color && { backgroundColor: `${tag.node.accent_color}` }}>
                    {tag.node.feature_image &&
                        <>
                            <Link to={relativeUrl(tag.node.url)}>
                                {/* <GatsbyImage image={getImage(tag.node.localFeatureImage)} style={{
                                    position: `absolute`,
                                    height: `100%`,
                                    width: `100%`,
                                    inset: 0,
                                    objectFit: `cover`,
                                }} className="image-inset blur-up lazyloaded" alt={tag.node.name} /> */}
                                <img className="inset-image blur-up lazyloaded"
                                    src={tag.node.feature_image}
                                    srcSet={`${generateResizeUrl(tag.node.feature_image, 100)} 100w, ${generateResizeUrl(tag.node.feature_image, 300)} 300w, ${generateResizeUrl(tag.node.feature_image, 600)} 600w`}
                                    sizes="(max-width: 1000px) 400px, 600px"
                                    alt="{{name}}"
                                />
                            </Link>
                            <div className={containerStyles.topicBgGradient + ` absolute inset-0 z-2`}></div>
                        </>
                    }

                    <header className="relative text-white z-4 text-center w-full px-4 py-16 lg:px-6" key={tag.node.id}>
                        <div className="text-xs uppercase mb-3 opacity-90 tracking-widest font-medium">{tag.node.count.posts} {
                            tag.node.count.posts === 0 ? t(`No_Stories`) : tag.node.count.posts === 1 ? t(`_1_Story`) : t(`_xStories`)
                        }</div>
                        <h2 className="text-2xl capitalize font-semibold tracking-wide"><Link to={relativeUrl(tag.node.url)}>{tag.node.name}</Link></h2>
                    </header>

                    <Link to={relativeUrl(tag.node.url)} className="absolute inset-0 z-4" aria-label={tag.node.name}></Link>
                </article>
            ))}
        </div>
    </section>
</Layout>