---
import Layout from '@layouts/Layout.astro';
import MetaData from "@components/meta/MetaData.astro";
import { getPosts } from "../lib/api";
import MediaCover from '@components/MediaCover.astro';
import { relativeUrl } from '@utils/relativeUrl';
import PrimaryTag from '@components/PrimaryTag.astro';
import DateTimeComponent from '@components/DateTimeComponent.astro';
import Author from '@components/Author.astro';

const posts = await getPosts({filter: 'visibility:public+tag:-hash-portfolio+tag:-hash-podcast+tag:-hash-custom-kusi-doc', limit: "12"})
const featuredPosts = await getPosts({filter: 'visibility:public+tag:-hash-portfolio+tag:-hash-podcast+tag:-hash-custom-kusi-doc+featured:true', limit: "3"})
---

<!-- <MetaData location={Astro.url.pathname} /> -->
<Layout isHome={true} footer={false} isPost={false} bodyClass="is-photographer has-cover is-head-transparent">
    <script type="module">
		import { tns } from "../../../node_modules/tiny-slider/src/tiny-slider.js";
		var slider = tns({
                container: `.simply-slider`,
                loop: true,
                mouseDrag: true,
                items: 1,
                nav: false,
                speed: 400,
                autoplay: true,
                autoplayButtonOutput: false,
                prevButton: `.simply-slider-prev`,
                nextButton: `.simply-slider-next`,
                mode: `gallery`,
            })
	</script>
    {/* {!-- Featured Story --} */}
    {featuredPosts &&
    <div class="simply-hero-cover relative bg-dark">
        <div class="simply-slider flex overflow-hidden">
            {featuredPosts.map(item => (
                <article class="overflow-hidden bg-dark flex-none relative z-2">
                    <div class="px-4 py-vw8 min-h-lg h-screen flex items-center justify-center">
                        <div class="max-w-1100 mx-auto text-center">
                            {/* {!-- Primary Tag- partials/components/primary-tag.hbs --} */}
                            {item.primary_tag && <div class="mb-4"><PrimaryTag tag={item.primary_tag} tagClass=" relative z-3"/></div>}

                            <h2 class="text-4xl md:text-7xl font-semibold leading-tight mb-4">
                                <a href={relativeUrl(item.url)} class="text-white relative z-3">{item.title}</a>
                            </h2>

                            {/* {!-- Date Time and reading Time - ./partials/components/datetime.hbs --} */}
                            <DateTimeComponent dateTimeClass="relative z-3 text-white opacity-80 justify-center" post={item} />
                        </div>
                    </div>

                    {/* {!-- Featured Media - partials/components/media-cover.hbs --} */}
                    <a href={relativeUrl(item.url)}><MediaCover background={item.feature_image} hasGradient={true} altTitle={item.title} /></a>
                </article>
            ))}
        </div>

        <div class="simply-slider-prev absolute bottom-0 lg:bottom-1/2 right-16 lg:right-auto lg:left-4 text-white cursor-pointer opacity-30 hover:opacity-100 focus:outline-none">
            <svg class="w-12 h-12 fill-current -mt-6 rotate-180 transform"><use xlink:href="#icon-arrow-forward"></use></svg>
        </div>

        <div class="simply-slider-next absolute bottom-0 lg:bottom-1/2 right-4 text-white cursor-pointer opacity-30 hover:opacity-100 focus:outline-none">
            <svg class="w-12 h-12 fill-current -mt-6"><use xlink:href="#icon-arrow-forward"></use></svg>
        </div>

    </div>
    }

    <div class="feed-entry-content">
        <div class="feed-entry-wrap">
            <div class="row is-gapless">
                {posts.map(item => (
                    <article class="col s12 m6 l4 relative story-cover min-h-lg">

                        {/* {!-- Featured Media - partials/components/media-cover.hbs --} */}
                        <figure class="story-cover-thumbnail overflow-hidden pt-96">
                            <a href={relativeUrl(item.url)}><MediaCover background={item.feature_image} hasGradient={true} altTitle={item.title} /></a>
                        </figure>

                        <header class="absolute bottom-0 left-0 right-0 text-white px-4 py-10">
                            {/* {!-- Primary Tag- partials/components/primary-tag.hbs --} */}
                            {item.primary_tag && <div class="mb-4"><PrimaryTag tag={item.primary_tag} tagClass="relative z-3"/></div>}

                            <h2 class="text-4xl leading-tight mb-4"><a class="relative z-3" href={relativeUrl(item.url)}>{item.title}</a></h2>

                            {/* {!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --} */}
                            <Author post={item} />
                        </header>

                    </article>
                ))}
            </div>
        </div>
    </div>
</Layout>