---
import Author from '../Author.astro';
import { relativeUrl } from '../../utils/relativeUrl';

export interface Props {
	post?: any;
}

const { post } = Astro.props;

const image = post.feature_image ? post.localFeatureImage : null
---
<article class="homeHero-largeCard flex-auto mb-8 md:mb-0 md:pr-6 md:w-3/6 lg:w-full">
    <a href={relativeUrl(post.url)} class="hhp-image" aria-label={post.title}>
        <div class="hhp-img mb-4 relative h-40">
            {post.feature_image &&
                <img src={image} alt={post.title} class="u-image inset-0 absolute"/>
            }
        </div>
    </a>

    <div class="hhp-body mb-4">
        <h1 class="hhp-title text-3xl text-title mb-3 lineClamp-2 overflow-hidden">
            <a href={relativeUrl(post.url)} class="block" aria-label={post.title}>{post.title}</a>
        </h1>

        {post.excerpt &&
            <div class="hhp-excerpt text-lg leading-snug overflow-hidden lineClamp mb-3 text-gray-500">
                <a href={relativeUrl(post.url)} aria-label={post.title}>{post.excerpt.split(` `).splice(0,30).join(` `)}</a>
            </div>
        }

        {/* {!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --} */}
        <Author post={post} hideAvatar={true} />
    </div>
</article>