---
import { Image } from 'astro:assets';
import avatarImage from '../../src/images/avatar.png';
import Authors from "./Authors.astro";
import DateTimeComponent from "./DateTimeComponent.astro";
import { relativeUrl } from "../utils/relativeUrl";
import { t } from "@utils/use-lang";

export interface Props {
	post?: any;
    hideAvatar?: boolean;
}

const { post, hideAvatar } = Astro.props;
const authors = post.authors

---
<div class="hh flex items-center relative z-4 flex-auto leading-snug overflow-hidden">
    { !hideAvatar &&
        <ul class="hh-author flex flex-wrap flex-none mr-3">
            {authors.map(author => (
                <li class="hh-author-item realtive">
                    <a
                        class="relative block avatar is-45x45"
                        href={relativeUrl(author.url)} /* TODO to be removed */
                        title={t(`Go to the profile of`) + ' ' + author.name}>
                        {author.profile_image ?
                            <Image
                                src={author.profile_image}
                                class="object-cover rounded-full"
                                alt={t(`Go to the profile of`) + ' ' + author.name}
                                widths={[50, 80, 100]}
                                sizes={`(max-width: 1000px) 80px, 50px`}
                                width="36"
                                height="36"
                            />
                            :
                            <Image src={avatarImage}
                                class="object-cover rounded-full"
                                alt={t(`Go to the profile of`) + ' ' + author.name}
                                widths={[50, 80, 100]}
                                sizes={`(max-width: 1000px) 80px, 50px`}
                                width="36"
                                height="36"
                            />
                        }
                    </a>
                </li>
            ))}
        </ul>
    }

    <div class="hh-right flex-auto overflow-hidden">
        <div class="hh-author-name text-sm noWrapWithEllipsis">
            {/* {authors.length === 1 ? authors[0].name : authors.length === 2 ? authors[0].name + `, ` + authors[1].name : `Multiple authors`} */}
            {authors.length > 2 ? `Multiple_authors` : <Authors authors={authors} />}
        </div>

        <DateTimeComponent post={post} />
    </div>
</div>