---
import ArticleFeaturedImage from './article/ArticleFeaturedImage.astro'
import Layout from '@layouts/Layout.astro'

const { page } = Astro.props

---
<Layout footer={true} bodyClass="is-article" isPost={false}>
    <article class="post mb-4 pt-8 lg:p-16 relative">
        <header class="post-header px-4 mx-auto max-w-740 u-paddingTop30 relative z-3">
            <h1 class="post-title text-32 md:text-4xl lg:text-44 text-title">{page.title}</h1>
            {page.custom_excerpt && <p class="post-excerpt mt-6 text-xl text-gray-500">{page.custom_excerpt}</p>}
        </header>

        {page.feature_image && <ArticleFeaturedImage article={page} figureClass="block mx-auto max-w-1000 mt-12" />}

        <div class="post-wrap max-w-1100 relative mx-auto">
            <div id="post-body" class="post-body px-4 mx-auto max-w-740 relative" set:html={page.html}></div>
        </div>
    </article>
</Layout>