---
import Layout from "@layouts/Layout.astro";
import MetaData from "@components/meta/MetaData.astro";
import StoryPortfolio from "@components/story/StoryPortfolio.astro";
import { getPosts } from "@lib/api";
import { t } from "@utils/use-lang";

const posts = await getPosts({
    filter: `visibility:public+tag:hash-portfolio+tag:-hash-podcast+tag:-hash-custom-kusi-doc`,
});
const tags = [
    ...new Set(
        posts
            .map(item => item.primary_tag && item.primary_tag.name)
            .filter(a => a)
    ),
]; //return unique, non-null primary tags
---

<MetaData
    slot="head"
    location={Astro.url.pathname}
    title={t(`Portfolio`, `Portfolio`)}
/>
<Layout footer={true} isPost={false} bodyClass="is-portfolio">
    <script>
        import "@scripts/portfolio.js";
    </script>
    <header class="topic-header">
        <div class="px-4 py-10 lg:py-vw6 lg:pb-8 mx-auto max-w-3xl text-center">
            <h1 class="capitalize text-5xl text-title md:text-6xl">
                Portfolio
            </h1>
            <div class="max-w-lg mt-2 mx-auto text-xl text-gray-500">
                Please check out my portfolio!
            </div>
        </div>
    </header>

    {
        tags.length > 0 && (
            <ul class="list-inline text-center px-4 mt-4">
                <li
                    class="js-filter-btn inline-block border-b-2 border-transparent border-primary hover:border-primary cursor-pointer mb-2"
                    data-id="all"
                >
                    All
                </li>
                {tags.map(item => (
                    <li
                        class="js-filter-btn inline-block border-b-2 border-transparent hover:border-primary cursor-pointer mb-2 ml-4"
                        data-id={item}
                    >
                        {item}
                    </li>
                ))}
            </ul>
        )
    }

    <div class="site-post feed-entry-content py-12 px-4">
        <div class="mx-auto max-w-1100 feed-entry-wrap">
            <div class="row flex-row justify-center">
                {
                    posts.map(item => {
                        return (
                            <div
                                class="col s12 m6 l4 js-filter-items"
                                data-id={
                                    item.primary_tag && item.primary_tag.slug
                                }
                            >
                                <StoryPortfolio post={item} />
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</Layout>
